<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="genre_style.css"> -->
        <link rel="stylesheet" href="/static/rm.css">
        <title><%= data.bookname%></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- <link
            href="https://fonts.googleapis.com/css2?family=Alata&family=Albert+Sans:wght@800&family=Alexandria:wght@100;500&family=Antic+Didone&family=Cantarell&family=Fira+Sans+Condensed&family=Hind+Vadodara&family=Lato&family=Lora&family=Montserrat:wght@400;500;700;900&family=Playfair+Display:ital,wght@0,600;1,700&family=Poppins:wght@700&family=Signika:wght@300&family=Work+Sans:wght@400;500;700&display=swap"
            rel="style.css"> -->
            <link rel="shortcut icon" href="/static/images/favicon.jpg" type="image/x-icon">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Alata&family=Albert+Sans:ital,wght@0,100;0,500;0,700;1,800&family=Alexandria:wght@100;500;700&family=Antic+Didone&family=Cantarell&family=Fira+Sans+Condensed&family=Hind+Vadodara&family=Lato&family=Libre+Franklin:wght@800&family=Lora&family=Montserrat:wght@400;500;600;700;900&family=Playfair+Display:ital,wght@0,600;0,700;1,700&family=Poppins:wght@700&family=Roboto:wght@300;700&family=Signika:wght@300&family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
    <header id="navres" class="header">
        <a rel="noopener noreferrer" href="/" class="logo"><i></i>Fictionary</a>
        <nav class="navbar">
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="default.asp"><img src="" alt=""></a></li>
                <li><a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
                        href="/genre">Genre</a></li>
                <!-- <li><a target="_blank" rel="noopener noreferrer" href="contact.asp">Blog</a></li> -->
                <!-- <li><input type="text" name="" id="search" placeholder="search"></li> -->
                <li>
                    <div class="group">
                        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                        <input placeholder="Search" type="search" class="input">
                    </div>
                </li>
                <li><a target="_blank" href="/login#"> Login </a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="#"><img
                            src="static/images/cartwhite__1_-removebg-preview.jpeg" alt="" class="cart"></a></li>
            </ul>
        </nav>
    </header>
    <div class="read-more">
        <div class="Parent">
            <div class="child1">
                <iframe src="/static/pdfs/<%= data.fetch%>.pdf#view=fitH" frameborder="0" class="iframes"></iframe>
            </div>
            <div class="child2">
                <h1 class="book-name"><%= data.bookname %></h1>
                <h2 class="author"><%= data.author %></h2>
                <div class="rating-1000">
                    <img src="/static/images/fivestar-removebg-preview.png" alt="" class="fivestar"> &nbsp <span class="rating"></span> &nbsp <span
                        class="review"><%= data.rating %> ratings &nbsp <%= data.reviews %> reviews</span>
                </div>
                <p class="book-content"><%= data.bookcontent %></p>
    
                <div class="genre">
                    <h3>
                        <span class="genres">
                        Genres:</span>
                        <span class="genrecontent"><%= data.genre %></span>
                    </h3>
    
                </div> 
                <p class="last"><%= data.pages %>
                    <br>
                    <br>
                    First published in <%= data.published %>
                </p>
    
            </div>
        </div>
    </div>
</html>